{% extends 'base.html'%}
{% block css %} 
<link rel="stylesheet" href="../static/styles/about.css">
{% endblock %}
{% block title %}
    <title>Upload Image</title>
{% endblock %}
{% block body %}
    <div class="bg-light p-5 rounded mt-3">
        <h1>Upload your Image here</h1>
        <p class="lead">This example is a quick exercise to illustrate how the bottom navbar works.</p>
        <form method="POST" enctype="multipart/form-data" action="/Imageupload">
            <input type="file" id="myFile" name="uploaded-file" accept=".jpg" class="btn btn-outline-secondary">
            <input type="submit" value="Submit" class="btn btn-primary">
        </form>
        <p style="color:blue;">Choose image file to upload</p>
        <form action="/show_data" target="_blank">
                <input type="submit" value="Show Image" class="btn btn-primary" />
        </form>
    </div>
{% endblock %}