.banner-image img{
    border-radius: 5px;
} 

.hero-header{
    background-image: url(static/images/hero_image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:right center;
    height: 480px;
    color: white;
}